* {
    font-family: 'Slackey', cursive;
}

body {
    background-color: black;
}

.questions{
    margin: 70px;
    padding: 10px;
}

footer {
    margin: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    color: white;
}