* {
    font-family: 'Slackey', cursive;
}

body {
    background-color: black;
    text-align: center;
}


footer {
    margin: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    color: white;
}